[submodule "vendor/appledoc"]
	path = vendor/appledoc
url=https://github.com/tomaz/appledoc.git
[submodule "Bolts-IOS"]
	path = Bolts-IOS
url=https://github.com/hibu/Bolts-iOS.git
[submodule "vendor/ios-snapshot-test-case"]
	path = vendor/ios-snapshot-test-case
url=https://github.com/facebook/ios-snapshot-test-case.git
[submodule "vendor/xctool"]
	path = vendor/xctool
url=https://github.com/facebook/xctool.git
